<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Challenge Mirzanda Abimanyu</title>
    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/5.2/examples/headers/"
    />
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="asset/style.css">
  </head>
  <body>
    <section class="background-gambar" style="background-image:url(./asset/main-bg.jpg) ;">
      <nav class="navbar navbar-expand-lg keyboard">
        <div class="container-fluid">
          <a class="navbar-brand text-white" href="#">LOGO</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-center data-bs-toggle" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              
              <a class="nav-link text-white" href="#">HOME</a>
              <a class="nav-link text-white" href="#">WORK</a>
              <a class="nav-link text-white">CONTACT</a>
              <a class="nav-link text-white" href="#">ABOUT US</a>
            </div> 
          </div>

          <div class="collapse navbar-collapse justify-content-center data-bs-toggle" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              
              <a class="nav-link text-white" href="#">SIGN UP</a>
              <a class="nav-link text-white" href="#">LOGIN</a>
          
            </div> 
          </div>

            </div>
            </nav>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <div class="botol">
              
            
              <h1 class="text-center judul">PLAY TRADITIONAL GAME</h1>
              
              <h2 class="text-center meja pt-5">Experience new traditional game</h2>

              </div>

              <div class="d-grid gap-2 col-2 py-5 mx-auto">
                <button class="btn btn-warning p-2" type="button">Play Now</button>
              </div>
              <div class="text-white text-center kabel">
                <span>The Story</span> <br>
                <svg width="23" height="12" viewBox="0 0 23 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M21.5786 1.83362H1.32422L11.338 10.0027L21.5786 1.83362Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
              </div>
            </div>   
          </div>
        </div>

    </div>
    </section>
      

    <!-- Section The Games-->

    <section class="background-gambar container" style="background-image: url('./asset/the-games-bg.jpg') ;">
      <div class="container">
        <div class="row">
          <div class="col">
            <p>What's so special</p>
            <h1>THE GAMES</h1>
          </div>
          <div class="col">
            Column
          </div>
        </div>
      </div>
    </section> 
    <!-- Akhir Section The Games--> 

    <!-- Section The Games-->

    <section class="background-gambar" style="background-image: url('./asset/features.jpg') ;">
      
    </section> 
    <!-- Akhir Section The Games-->

    <!-- Section The Games-->

    <section class="background-gambar" style="background-image: url('./asset/requirements.png') ;">
      
    </section> 
    <!-- Akhir Section The Games-->

     <!-- Section The Games-->

     <section class="background-gambar" style="background-image: url('./asset/top-score-bg.png') ;">
      
    </section> 
    <!-- Akhir Section The Games-->

    <!-- Section The Games-->

    <section class="background-gambar" style="background-image: url('./asset/newsletter.png') ;">
      
    </section> 
    <!-- Akhir Section The Games-->


    <script src="js/bootstrap.bundle.min.js"></script>
  
  </body>
</html>