<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registration Page</title>
    <%- include('./partials/head'); %>
</head>
<body class="body">
      <section class="h-100 gradient-form" style="background-color: rgba(238, 238, 238, 0.843);">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-6">
              <div class="card rounded-3 text-black">
                <div class="row g-0">
                  <div class="col-lg-12">
                    <div class="card-body p-md-5 mx-md-4">
      
                      <div class="text-center">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                          style="width: 185px;" alt="logo">
                        <h4 class="mt-1 mb-4 pb-1">SIGN UP PAGE</h4>
                      </div>
      
                      <form method="POST" action="/signup">
                        <div class="form-outline mb-4">
                          <label class="form-label" for="form2Example11">Name</label>
                          <input type="text" id="form2Example11" name="name" class="form-control"
                            placeholder="Insert your name" required />
                        </div>
                        <div class="form-outline mb-4">
                          <label class="form-label" for="form2Example11">Username</label>
                          <input type="email" id="form2Example11" name="username" class="form-control"
                            placeholder="Insert your email address" required />
                        </div>
      
                        <div class="form-outline mb-4">
                          <label class="form-label" for="form2Example22">Password</label>
                          <input type="password" id="form2Example22" name="password" class="form-control" 
                            placeholder="Insert your password" required/>
                        </div>
                        <div class="form-outline mb-4">
                          <label class="form-label" for="form2Example22">Confirm Password</label>
                          <input type="password" id="form2Example22" name="confirmPassword" class="form-control" 
                            placeholder="Retype your password" required/>
                        </div>
                        <div class="text-center pt-1 mb-4 pb-1">
                          <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Sign up</button>
                        </div>
      
                        <div class="d-flex align-items-center justify-content-center pb-4">
                          <p class="mb-0 me-2">Already have an account?</p>
                          <a class="text-muted" href="/login">Login</a>
                        </div>
      
                      </form>
      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</body>
</html>